<!-- <app-api-list-burned></app-api-list-burned>
<app-api-list></app-api-list>
<app-form></app-form> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
    <a class="navbar-brand" routerLink="/">Mi Proyecto</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/form" routerLinkActive="active">Formulario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/api" routerLinkActive="active">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/api-list" routerLinkActive="active">Datos Quemados</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  
  
  
  
  
  